body {
  margin: auto;
  width: 317px;
  background: #23252C;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  padding: 44px 0;
}

header {
  display: flex;
}

.profile {
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

main {
  background: #1A1B21;
  text-align: center;
  padding: 21px 36px;
}

main > h1 {
  margin: 0;
  font-size: 1.5625em;
}

.role {
  margin: 7px 0;
  font-size: 0.8em;
  color: #F3BF99;
}

.portfolio-link {
  display: inline-block;
  font-size: 0.64em;
  color: #F5F5F5;
  margin-bottom: 18px;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 0.875em;
  text-decoration: none;
  border-radius: 6px;
  width: 115px;
  height: 34px;
  box-sizing: border-box;
}

.email {
  background-color: #FFFFFF;
  color: #374151;
  border: 1px solid #D1D5DB;
}

.linkedin {
  background-color: #5093E2;
  color: #FFFFFF;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #161619;
  color: #918E9B;
  border-radius: 0 0 10px 10px;
  height: 64px;
}

.fa-brands {
  font-size: 1.5625em;
}

.linkedin > .fa-brands, .fa-solid {
  font-size: 1em;
}

.about, .interests {
  text-align: left;
  color: #F5F5F5;
  margin: 33px 0 25px 0;
}

.about > h3, .interests > h3 {
  font-size: 1em;
  margin: 0;
}

.about > p, .interests p {
  font-size: 0.64em;
  line-height: 1.5;
}

footer > a {
  text-decoration: none;
  color: inherit;
}